main > .container {
  margin: 60px 15px 0;
}

.nopadding {
  padding: 0;
  margin: 0;
}

.wrapper {
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .footer-padding{
    margin-top:85px;
  }
  .footer {
    position: fixed;
    width:100%;
    bottom: 0;
  }
}